
<div class="container-fluid">
    <div class="row">
  
      <div class="col-md-3">
        <button type="submit">Espace Pro Food truck's</button>
        </div>
          <div class="col-md-2 offset-md-7">
           <a routerLink="/inscription" routerLinkActive="active"><button type="submit">S'incrire</button></a>
           <a routerLink="/connexion" routerLinkActive="active"><button type="submit">Connexion</button></a>
        
      </div>
      
      </div>
  
      <div class="row">
         
        <div class="ligne left col-md-4">
          <p>La PlateForme</p>
          </div>
          <div class="col-md-4">
            <a routerLink="" routerLinkActive="active"><img class="logo" src="../assets/Truck's Mania.png"></a>
        </div>
          <div class="ligne right col-md-4">
            <p>des Foods Truck's</p>
          </div>
          <div class="row">
              <div class="col-md-1 offset-md-11">
                  <a routerLink="/panier" routerLinkActive="active"><img  class="panier" src="../assets/panier1.jpeg"></a>
              </div>
          </div>
     </div>
     
