.container {
    border: rgb(212, 35, 35) solid 3px;
    margin-top: 20px;
    align-items: center;
    background-color: rgb(240, 209, 219);
    
}
h2 {
 border: rgb(36, 138, 36) solid 3px;
 text-align: center;
 margin-top: 40px;

}
button {
    width: 200px;
    margin-top: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}
input {
    margin-top: 20px;
}
h4 {
    margin-top: 10px;
}
