<main>
<div class="row">
<article class="col-md-10 offset-md-2 ">
    <h2>VOTRE PAUSE DÉJEUNER SUR - MESURE</h2>
    <p>Transformez votre pause déjeuner en un moment de découverte et de plaisir<br> 
        grâce à notre service de restauration collective et notre réseau de 30 Food Truck's<br>
         avec des thématiques différentes.<br>
    Nous respectons la distanciation sociale imposée par le Covid-19,<br>
    grâce à notre site de commande en ligne!</p>
    </article>
</div>
    <div class="row">
        <div class= "col-md-4 offset-md-2">
            <img src="../assets/photo1.png">
        </div>
        <div class="col-md-4 offset-md-1">
            <h4>Notre Mission?<br>
            Vous faire voyagez pendant votre pause déjeuner</h4>
        </div>
    </div>
    
</main>
    
<app-frugal-map></app-frugal-map>


