<footer>
    <div class="container-fluid">
        <div class="row">
            <div class=" info col-md-2">
                <li>Plan du site</li>
                <li>Presse</li>
                <li>Contact</li>
                <li>CGU</li>
                <li>Mentions légales</li>
            </div>
            <div class="col-md-5 offset-md-1">
                <p>Contact</p>
                <p>Trucksmania@gmail.com</p>
            </div>
            <div class="col-md-3 offset-md-1">
                <p class="text">Food truck Mania propose des solutions <br>
                de restaurations dans les entreprises<br>
                et les écoles par l'intermédiaire<br>
                de notre plateForme de <br>
                Food'Trucks</p>
            </div>
        </div>
    </div>
</footer>
