
<article>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
<h2>Food Truck's Asiatique</h2>
</div>

<div class="row">
    <div class="carte col-md-2">
        <img class="card-img-top" src="../assets/truck-italien.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Tokyo</h5>
          <p class="card-text">Spécialité Asiatique préparé
            avec des ingrédients frais, Plats variés pour tout les goûts</p>
          <a href="#" class="choix btn btn-danger" >Choisir ce<br>Food Truck</a>
        </div>
      
    </div>
    <div class="carte col-md-2">
        <img class="card-img-top" src="../assets/truck-italien1.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Jogasaki</h5>
          <p class="card-text">Spécialité japonaise préparé
            avec des ingrédients frais, Plats variés pour tout les goûts</p>
          <a href="#" class="choix btn btn-danger" >Choisir ce<br>Food Truck</a>
        </div>
      
    </div>
    <div class="carte col-md-2">
        <img class="card-img-top" src="../assets/truck-italien2.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Chinesse</h5>
          <p class="card-text">Spécialité Chinoise préparé
            avec des ingrédients frais, Plats variés pour tout les goûts</p>
          <a href="#" class="choix btn btn-danger" >Choisir ce<br>Food Truck</a>
        </div>
      
    </div>
    <div class="carte col-md-2 ">
        <img class="card-img-top" src="../assets/truck-italien.jpeg" alt="">
        <div class="card-body">
          <h5 class="card-title">Japonais</h5>
          <p class="card-text">Spécialité Italienne préparé
            avec des ingrédients frais, Plats variés pour tout les goûts</p>
          <a href="#" class="choix btn btn-danger" >Choisir ce<br>Food Truck</a>
        </div>
      
    </div>
</div>
</div>
</div>
</article>



