
.sidenav {
    background-color:#dc143c;
    width: 200px;
    height: 1200px;
    overflow: auto;
    margin:0;
    position:absolute;
}
.sidenav a{
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color:white;
    display: block;
    margin: 5%;
}
.sidenav a:hover{
    color:grey;
}

hr {
    height: 5px;
    width: 100%;
    margin:0;
}
p {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color:white;
    display: block;
    margin: 5%;
}